<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sqlmap.SpsGoodsAlbum">
  <resultMap id="BaseResultMap" type="SpsGoodsAlbum">
    <id column="album_id" jdbcType="INTEGER" property="albumId" />
    <result column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="album_url" jdbcType="VARCHAR" property="albumUrl" />
    <result column="album_type" jdbcType="INTEGER" property="albumType" />
    <result column="album_delete_flag" jdbcType="INTEGER" property="albumDeleteFlag" />
    <result column="album_create_time" jdbcType="TIMESTAMP" property="albumCreateTime" />
    <result column="album_update_time" jdbcType="TIMESTAMP" property="albumUpdateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    album_id, goods_id, album_url, album_type, album_delete_flag, album_create_time, 
    album_update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sps_goods_album
    where album_id = #{albumId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sps_goods_album
    where album_id = #{albumId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="SpsGoodsAlbum">
    insert into sps_goods_album (album_id, goods_id, album_url, 
      album_type, album_delete_flag, album_create_time, 
      album_update_time)
    values (#{albumId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{albumUrl,jdbcType=VARCHAR}, 
      #{albumType,jdbcType=INTEGER}, #{albumDeleteFlag,jdbcType=INTEGER}, #{albumCreateTime,jdbcType=TIMESTAMP}, 
      #{albumUpdateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="SpsGoodsAlbum">
    insert into sps_goods_album
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        album_id,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="albumUrl != null">
        album_url,
      </if>
      <if test="albumType != null">
        album_type,
      </if>
      <if test="albumDeleteFlag != null">
        album_delete_flag,
      </if>
      <if test="albumCreateTime != null">
        album_create_time,
      </if>
      <if test="albumUpdateTime != null">
        album_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="albumId != null">
        #{albumId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="albumUrl != null">
        #{albumUrl,jdbcType=VARCHAR},
      </if>
      <if test="albumType != null">
        #{albumType,jdbcType=INTEGER},
      </if>
      <if test="albumDeleteFlag != null">
        #{albumDeleteFlag,jdbcType=INTEGER},
      </if>
      <if test="albumCreateTime != null">
        #{albumCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="albumUpdateTime != null">
        #{albumUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="SpsGoodsAlbum">
    update sps_goods_album
    <set>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="albumUrl != null">
        album_url = #{albumUrl,jdbcType=VARCHAR},
      </if>
      <if test="albumType != null">
        album_type = #{albumType,jdbcType=INTEGER},
      </if>
      <if test="albumDeleteFlag != null">
        album_delete_flag = #{albumDeleteFlag,jdbcType=INTEGER},
      </if>
      <if test="albumCreateTime != null">
        album_create_time = #{albumCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="albumUpdateTime != null">
        album_update_time = #{albumUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where album_id = #{albumId,jdbcType=INTEGER}
  </update>
  <!-- 查询所有 -->
  <select id="findListAllWithMap" parameterType="map"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sps_goods_album
    where 1=1
    <if test="goodsId != null">
      AND goods_id = #{goodsId,jdbcType=INTEGER}
    </if>
  </select>

  <delete id="deletePic" parameterType="map">
    delete from sps_goods_album
    where 1=1
    <if test="goodsId != null">
      AND goods_id = #{goodsId,jdbcType=INTEGER}
    </if>
    <if test="updatePicFlag != null">
      AND album_type = 0
    </if>
    <if test="updateDetailFlag != null">
      AND album_type = 1
    </if>
  </delete>
</mapper>