<?xml version="1.0" encoding="GBK" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.marchant.SpsChannelOpenAccountReadMapper" >

 <!--根据登录用户获取channel_num  -->
  
  <select id="selectByOpenAdminNum" parameterType="String" resultType="String" >
    select channel_num  channelNum  from sps_channel_open_account
     where  open_admin_num =#{openAdminNum}
  </select>
</mapper>