<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.write.SpsChannelStatisticsWriteMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelStatistics" >
    <id column="statistics_id" property="statisticsId" jdbcType="INTEGER" />
    <result column="statistics_pass_order_num" property="statisticsPassOrderNum" jdbcType="INTEGER" />
    <result column="statistics_pass_order_amount" property="statisticsPassOrderAmount" jdbcType="DECIMAL" />
    <result column="statistics_sku_num" property="statisticsSkuNum" jdbcType="INTEGER" />
    <result column="statistics_sku_price" property="statisticsSkuPrice" jdbcType="DECIMAL" />
    <result column="statistics_collaborate_shopkeeper_num" property="statisticsCollaborateShopkeeperNum" jdbcType="INTEGER" />
    <result column="statistics_deal_shopkeeper_num" property="statisticsDealShopkeeperNum" jdbcType="INTEGER" />
    <result column="statistics_shopkeeper_avg_money" property="statisticsShopkeeperAvgMoney" jdbcType="DECIMAL" />
    <result column="statistics_shopkeeper_avg_num" property="statisticsShopkeeperAvgNum" jdbcType="INTEGER" />
    <result column="statistics_sku_sales_rank" property="statisticsSkuSalesRank" jdbcType="VARCHAR" />
    <result column="statistics_sku_price_ market_difference" property="statisticsSkuPriceMarketDifference" jdbcType="VARCHAR" />
    <result column="channel_num" property="channelNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sps_channel_statistics
    where statistics_id = #{statisticsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.sps.entity.merchant.SpsChannelStatisticsExample" >
    delete from sps_channel_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sps.entity.merchant.SpsChannelStatistics" >
    insert into sps_channel_statistics (statistics_id, statistics_pass_order_num, 
      statistics_pass_order_amount, statistics_sku_num, 
      statistics_sku_price, statistics_collaborate_shopkeeper_num, 
      statistics_deal_shopkeeper_num, statistics_shopkeeper_avg_money, 
      statistics_shopkeeper_avg_num, statistics_sku_sales_rank, 
      "statistics_sku_price_ market_difference", channel_num
      )
    values (#{statisticsId,jdbcType=INTEGER}, #{statisticsPassOrderNum,jdbcType=INTEGER}, 
      #{statisticsPassOrderAmount,jdbcType=DECIMAL}, #{statisticsSkuNum,jdbcType=INTEGER}, 
      #{statisticsSkuPrice,jdbcType=DECIMAL}, #{statisticsCollaborateShopkeeperNum,jdbcType=INTEGER}, 
      #{statisticsDealShopkeeperNum,jdbcType=INTEGER}, #{statisticsShopkeeperAvgMoney,jdbcType=DECIMAL}, 
      #{statisticsShopkeeperAvgNum,jdbcType=INTEGER}, #{statisticsSkuSalesRank,jdbcType=VARCHAR}, 
      #{statisticsSkuPriceMarketDifference,jdbcType=VARCHAR}, #{channelNum,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.sps.entity.merchant.SpsChannelStatistics" >
    insert into sps_channel_statistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="statisticsId != null" >
        statistics_id,
      </if>
      <if test="statisticsPassOrderNum != null" >
        statistics_pass_order_num,
      </if>
      <if test="statisticsPassOrderAmount != null" >
        statistics_pass_order_amount,
      </if>
      <if test="statisticsSkuNum != null" >
        statistics_sku_num,
      </if>
      <if test="statisticsSkuPrice != null" >
        statistics_sku_price,
      </if>
      <if test="statisticsCollaborateShopkeeperNum != null" >
        statistics_collaborate_shopkeeper_num,
      </if>
      <if test="statisticsDealShopkeeperNum != null" >
        statistics_deal_shopkeeper_num,
      </if>
      <if test="statisticsShopkeeperAvgMoney != null" >
        statistics_shopkeeper_avg_money,
      </if>
      <if test="statisticsShopkeeperAvgNum != null" >
        statistics_shopkeeper_avg_num,
      </if>
      <if test="statisticsSkuSalesRank != null" >
        statistics_sku_sales_rank,
      </if>
      <if test="statisticsSkuPriceMarketDifference != null" >
        "statistics_sku_price_ market_difference",
      </if>
      <if test="channelNum != null" >
        channel_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="statisticsId != null" >
        #{statisticsId,jdbcType=INTEGER},
      </if>
      <if test="statisticsPassOrderNum != null" >
        #{statisticsPassOrderNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsPassOrderAmount != null" >
        #{statisticsPassOrderAmount,jdbcType=DECIMAL},
      </if>
      <if test="statisticsSkuNum != null" >
        #{statisticsSkuNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsSkuPrice != null" >
        #{statisticsSkuPrice,jdbcType=DECIMAL},
      </if>
      <if test="statisticsCollaborateShopkeeperNum != null" >
        #{statisticsCollaborateShopkeeperNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsDealShopkeeperNum != null" >
        #{statisticsDealShopkeeperNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsShopkeeperAvgMoney != null" >
        #{statisticsShopkeeperAvgMoney,jdbcType=DECIMAL},
      </if>
      <if test="statisticsShopkeeperAvgNum != null" >
        #{statisticsShopkeeperAvgNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsSkuSalesRank != null" >
        #{statisticsSkuSalesRank,jdbcType=VARCHAR},
      </if>
      <if test="statisticsSkuPriceMarketDifference != null" >
        #{statisticsSkuPriceMarketDifference,jdbcType=VARCHAR},
      </if>
      <if test="channelNum != null" >
        #{channelNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update sps_channel_statistics
    <set >
      <if test="record.statisticsId != null" >
        statistics_id = #{record.statisticsId,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsPassOrderNum != null" >
        statistics_pass_order_num = #{record.statisticsPassOrderNum,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsPassOrderAmount != null" >
        statistics_pass_order_amount = #{record.statisticsPassOrderAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.statisticsSkuNum != null" >
        statistics_sku_num = #{record.statisticsSkuNum,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsSkuPrice != null" >
        statistics_sku_price = #{record.statisticsSkuPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.statisticsCollaborateShopkeeperNum != null" >
        statistics_collaborate_shopkeeper_num = #{record.statisticsCollaborateShopkeeperNum,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsDealShopkeeperNum != null" >
        statistics_deal_shopkeeper_num = #{record.statisticsDealShopkeeperNum,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsShopkeeperAvgMoney != null" >
        statistics_shopkeeper_avg_money = #{record.statisticsShopkeeperAvgMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.statisticsShopkeeperAvgNum != null" >
        statistics_shopkeeper_avg_num = #{record.statisticsShopkeeperAvgNum,jdbcType=INTEGER},
      </if>
      <if test="record.statisticsSkuSalesRank != null" >
        statistics_sku_sales_rank = #{record.statisticsSkuSalesRank,jdbcType=VARCHAR},
      </if>
      <if test="record.statisticsSkuPriceMarketDifference != null" >
        "statistics_sku_price_ market_difference" = #{record.statisticsSkuPriceMarketDifference,jdbcType=VARCHAR},
      </if>
      <if test="record.channelNum != null" >
        channel_num = #{record.channelNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sps_channel_statistics
    set statistics_id = #{record.statisticsId,jdbcType=INTEGER},
      statistics_pass_order_num = #{record.statisticsPassOrderNum,jdbcType=INTEGER},
      statistics_pass_order_amount = #{record.statisticsPassOrderAmount,jdbcType=DECIMAL},
      statistics_sku_num = #{record.statisticsSkuNum,jdbcType=INTEGER},
      statistics_sku_price = #{record.statisticsSkuPrice,jdbcType=DECIMAL},
      statistics_collaborate_shopkeeper_num = #{record.statisticsCollaborateShopkeeperNum,jdbcType=INTEGER},
      statistics_deal_shopkeeper_num = #{record.statisticsDealShopkeeperNum,jdbcType=INTEGER},
      statistics_shopkeeper_avg_money = #{record.statisticsShopkeeperAvgMoney,jdbcType=DECIMAL},
      statistics_shopkeeper_avg_num = #{record.statisticsShopkeeperAvgNum,jdbcType=INTEGER},
      statistics_sku_sales_rank = #{record.statisticsSkuSalesRank,jdbcType=VARCHAR},
      "statistics_sku_price_ market_difference" = #{record.statisticsSkuPriceMarketDifference,jdbcType=VARCHAR},
      channel_num = #{record.channelNum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sps.entity.merchant.SpsChannelStatistics" >
    update sps_channel_statistics
    <set >
      <if test="statisticsPassOrderNum != null" >
        statistics_pass_order_num = #{statisticsPassOrderNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsPassOrderAmount != null" >
        statistics_pass_order_amount = #{statisticsPassOrderAmount,jdbcType=DECIMAL},
      </if>
      <if test="statisticsSkuNum != null" >
        statistics_sku_num = #{statisticsSkuNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsSkuPrice != null" >
        statistics_sku_price = #{statisticsSkuPrice,jdbcType=DECIMAL},
      </if>
      <if test="statisticsCollaborateShopkeeperNum != null" >
        statistics_collaborate_shopkeeper_num = #{statisticsCollaborateShopkeeperNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsDealShopkeeperNum != null" >
        statistics_deal_shopkeeper_num = #{statisticsDealShopkeeperNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsShopkeeperAvgMoney != null" >
        statistics_shopkeeper_avg_money = #{statisticsShopkeeperAvgMoney,jdbcType=DECIMAL},
      </if>
      <if test="statisticsShopkeeperAvgNum != null" >
        statistics_shopkeeper_avg_num = #{statisticsShopkeeperAvgNum,jdbcType=INTEGER},
      </if>
      <if test="statisticsSkuSalesRank != null" >
        statistics_sku_sales_rank = #{statisticsSkuSalesRank,jdbcType=VARCHAR},
      </if>
      <if test="statisticsSkuPriceMarketDifference != null" >
        "statistics_sku_price_ market_difference" = #{statisticsSkuPriceMarketDifference,jdbcType=VARCHAR},
      </if>
      <if test="channelNum != null" >
        channel_num = #{channelNum,jdbcType=VARCHAR},
      </if>
    </set>
    where statistics_id = #{statisticsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sps.entity.merchant.SpsChannelStatistics" >
    update sps_channel_statistics
    set statistics_pass_order_num = #{statisticsPassOrderNum,jdbcType=INTEGER},
      statistics_pass_order_amount = #{statisticsPassOrderAmount,jdbcType=DECIMAL},
      statistics_sku_num = #{statisticsSkuNum,jdbcType=INTEGER},
      statistics_sku_price = #{statisticsSkuPrice,jdbcType=DECIMAL},
      statistics_collaborate_shopkeeper_num = #{statisticsCollaborateShopkeeperNum,jdbcType=INTEGER},
      statistics_deal_shopkeeper_num = #{statisticsDealShopkeeperNum,jdbcType=INTEGER},
      statistics_shopkeeper_avg_money = #{statisticsShopkeeperAvgMoney,jdbcType=DECIMAL},
      statistics_shopkeeper_avg_num = #{statisticsShopkeeperAvgNum,jdbcType=INTEGER},
      statistics_sku_sales_rank = #{statisticsSkuSalesRank,jdbcType=VARCHAR},
      "statistics_sku_price_ market_difference" = #{statisticsSkuPriceMarketDifference,jdbcType=VARCHAR},
      channel_num = #{channelNum,jdbcType=VARCHAR}
    where statistics_id = #{statisticsId,jdbcType=INTEGER}
  </update>
</mapper>