<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.write.SpsChannelOpenAccountWriteMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelOpenAccount" >
    <id column="open_id" property="openId" jdbcType="INTEGER" />
    <result column="open_admin_num" property="openAdminNum" jdbcType="VARCHAR" />
    <result column="open_start_time" property="openStartTime" jdbcType="TIMESTAMP" />
    <result column="open_end_time" property="openEndTime" jdbcType="TIMESTAMP" />
    <result column="open_apply_product" property="openApplyProduct" jdbcType="VARCHAR" />
    <result column="open_sell_rate" property="openSellRate" jdbcType="INTEGER" />
    <result column="channel_num" property="channelNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    open_id, open_admin_num, open_start_time, open_end_time, open_apply_product, open_sell_rate, 
    channel_num
  </sql>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sps_channel_open_account
    where open_id = #{openId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="org.sps.entity.merchant.SpsChannelOpenAccountExample" >
    delete from sps_channel_open_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="org.sps.entity.merchant.SpsChannelOpenAccount" >
    insert into sps_channel_open_account (open_id, open_admin_num, open_start_time, 
      open_end_time, open_apply_product, open_sell_rate, 
      channel_num)
    values (#{openId,jdbcType=INTEGER}, #{openAdminNum,jdbcType=VARCHAR}, #{openStartTime,jdbcType=TIMESTAMP}, 
      #{openEndTime,jdbcType=TIMESTAMP}, #{openApplyProduct,jdbcType=VARCHAR}, #{openSellRate,jdbcType=INTEGER}, 
      #{channelNum,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.sps.entity.merchant.SpsChannelOpenAccount" >
    insert into sps_channel_open_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        open_id,
      </if>
      <if test="openAdminNum != null" >
        open_admin_num,
      </if>
      <if test="openStartTime != null" >
        open_start_time,
      </if>
      <if test="openEndTime != null" >
        open_end_time,
      </if>
      <if test="openApplyProduct != null" >
        open_apply_product,
      </if>
      <if test="openSellRate != null" >
        open_sell_rate,
      </if>
      <if test="channelNum != null" >
        channel_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="openId != null" >
        #{openId,jdbcType=INTEGER},
      </if>
      <if test="openAdminNum != null" >
        #{openAdminNum,jdbcType=VARCHAR},
      </if>
      <if test="openStartTime != null" >
        #{openStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openEndTime != null" >
        #{openEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openApplyProduct != null" >
        #{openApplyProduct,jdbcType=VARCHAR},
      </if>
      <if test="openSellRate != null" >
        #{openSellRate,jdbcType=INTEGER},
      </if>
      <if test="channelNum != null" >
        #{channelNum,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map" >
    update sps_channel_open_account
    <set >
      <if test="record.openId != null" >
        open_id = #{record.openId,jdbcType=INTEGER},
      </if>
      <if test="record.openAdminNum != null" >
        open_admin_num = #{record.openAdminNum,jdbcType=VARCHAR},
      </if>
      <if test="record.openStartTime != null" >
        open_start_time = #{record.openStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.openEndTime != null" >
        open_end_time = #{record.openEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.openApplyProduct != null" >
        open_apply_product = #{record.openApplyProduct,jdbcType=VARCHAR},
      </if>
      <if test="record.openSellRate != null" >
        open_sell_rate = #{record.openSellRate,jdbcType=INTEGER},
      </if>
      <if test="record.channelNum != null" >
        channel_num = #{record.channelNum,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sps_channel_open_account
    set open_id = #{record.openId,jdbcType=INTEGER},
      open_admin_num = #{record.openAdminNum,jdbcType=VARCHAR},
      open_start_time = #{record.openStartTime,jdbcType=TIMESTAMP},
      open_end_time = #{record.openEndTime,jdbcType=TIMESTAMP},
      open_apply_product = #{record.openApplyProduct,jdbcType=VARCHAR},
      open_sell_rate = #{record.openSellRate,jdbcType=INTEGER},
      channel_num = #{record.channelNum,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="org.sps.entity.merchant.SpsChannelOpenAccount" >
    update sps_channel_open_account
    <set >
      <if test="openAdminNum != null" >
        open_admin_num = #{openAdminNum,jdbcType=VARCHAR},
      </if>
      <if test="openStartTime != null" >
        open_start_time = #{openStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openEndTime != null" >
        open_end_time = #{openEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openApplyProduct != null" >
        open_apply_product = #{openApplyProduct,jdbcType=VARCHAR},
      </if>
      <if test="openSellRate != null" >
        open_sell_rate = #{openSellRate,jdbcType=INTEGER},
      </if>
      <if test="channelNum != null" >
        channel_num = #{channelNum,jdbcType=VARCHAR},
      </if>
    </set>
    where open_id = #{openId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.sps.entity.merchant.SpsChannelOpenAccount" >
    update sps_channel_open_account
    set open_admin_num = #{openAdminNum,jdbcType=VARCHAR},
      open_start_time = #{openStartTime,jdbcType=TIMESTAMP},
      open_end_time = #{openEndTime,jdbcType=TIMESTAMP},
      open_apply_product = #{openApplyProduct,jdbcType=VARCHAR},
      open_sell_rate = #{openSellRate,jdbcType=INTEGER},
      channel_num = #{channelNum,jdbcType=VARCHAR}
    where open_id = #{openId,jdbcType=INTEGER}
  </update>
</mapper>