<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sqlmap.SpsGoodShop">
    <resultMap id="BaseResultMap" type="SpsGoodShop">
        <id column="g_id" jdbcType="INTEGER" property="gId"/>
        <result column="g_category_ids" jdbcType="VARCHAR" property="gCategoryIds"/>
        <result column="g_brand_id" jdbcType="INTEGER" property="gBrandId"/>
        <result column="g_spu_no" jdbcType="VARCHAR" property="gSpuNo"/>
        <result column="g_spu_name" jdbcType="VARCHAR" property="gSpuName"/>
        <result column="g_category_self" jdbcType="INTEGER" property="gCategorySelf"/>
        <result column="g_recommend" jdbcType="VARCHAR" property="gRecommend"/>
        <result column="g_unit" jdbcType="VARCHAR" property="gUnit"/>
        <result column="g_grounding_flag" jdbcType="VARCHAR" property="gGroundingFlag"/>
        <result column="g_create_time" jdbcType="TIMESTAMP" property="gCreateTime"/>
        <result column="g_shop_id" jdbcType="VARCHAR" property="gShopId"/>
        <result column="g_delete_flag" jdbcType="INTEGER" property="gDeleteFlag"/>
        <result column="g_status" jdbcType="INTEGER" property="gStatus"/>
        <result column="g_update_time" jdbcType="TIMESTAMP" property="gUpdateTime"/>
        <result column="g_opinion" jdbcType="VARCHAR" property="gOpinion"/>
        <result column="g_force_opinion" jdbcType="VARCHAR" property="gForceOpinion"/>
        <result column="g_sku_ids" jdbcType="VARCHAR" property="gSkuIds"/>
        <result column="g_goods_id" jdbcType="INTEGER" property="gGoodsId"/>
        <result column="g_sales_num" jdbcType="INTEGER" property="gSalesNum"/>
    </resultMap>
    <sql id="Base_Column_List">
    g_id, g_category_ids, g_brand_id, g_spu_no, g_spu_name, g_category_self, g_recommend, 
    g_unit, g_grounding_flag, g_create_time, g_shop_id, g_delete_flag, g_status, g_update_time,g_opinion,g_force_opinion,g_sku_ids,g_goods_id,g_sales_num
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sps_good_shop
        where g_id = #{gId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sps_good_shop
    where g_id = #{gId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="SpsGoodShop">
    insert into sps_good_shop (g_id, g_category_ids, g_brand_id, 
      g_spu_no, g_spu_name, g_category_self, 
      g_recommend, g_unit, g_grounding_flag, 
      g_create_time, g_shop_id, g_delete_flag, 
      g_status, g_update_time,g_opinion,g_force_opinion,g_sku_ids,g_goods_id,g_sales_num)
    values (#{gId,jdbcType=INTEGER}, #{gCategoryIds,jdbcType=VARCHAR}, #{gBrandId,jdbcType=INTEGER}, 
      #{gSpuNo,jdbcType=VARCHAR}, #{gSpuName,jdbcType=VARCHAR}, #{gCategorySelf,jdbcType=INTEGER}, 
      #{gRecommend,jdbcType=VARCHAR}, #{gUnit,jdbcType=VARCHAR}, #{gGroundingFlag,jdbcType=VARCHAR}, 
      #{gCreateTime,jdbcType=TIMESTAMP}, #{gShopId,jdbcType=VARCHAR}, #{gDeleteFlag,jdbcType=INTEGER},
      #{gStatus,jdbcType=INTEGER}, #{gUpdateTime,jdbcType=TIMESTAMP}, #{gOpinion,jdbcType=VARCHAR}, #{gForceOpinion,jdbcType=VARCHAR},
       #{gSkuIds,jdbcType=VARCHAR},#{gGoodsId,jdbcType=INTEGER},#{gSalesNum,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="SpsGoodShop">
        insert into sps_good_shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="gId != null">
                g_id,
            </if>
            <if test="gCategoryIds != null">
                g_category_ids,
            </if>
            <if test="gBrandId != null">
                g_brand_id,
            </if>
            <if test="gSpuNo != null">
                g_spu_no,
            </if>
            <if test="gSpuName != null">
                g_spu_name,
            </if>
            <if test="gCategorySelf != null">
                g_category_self,
            </if>
            <if test="gRecommend != null">
                g_recommend,
            </if>
            <if test="gUnit != null">
                g_unit,
            </if>
            <if test="gGroundingFlag != null">
                g_grounding_flag,
            </if>
            <if test="gCreateTime != null">
                g_create_time,
            </if>
            <if test="gShopId != null">
                g_shop_id,
            </if>
            <if test="gDeleteFlag != null">
                g_delete_flag,
            </if>
            <if test="gStatus != null">
                g_status,
            </if>
            <if test="gUpdateTime != null">
                g_update_time,
            </if>
            <if test="gOpinion != null">
                g_opinion,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="gId != null">
                #{gId,jdbcType=INTEGER},
            </if>
            <if test="gCategoryIds != null">
                #{gCategoryIds,jdbcType=VARCHAR},
            </if>
            <if test="gBrandId != null">
                #{gBrandId,jdbcType=INTEGER},
            </if>
            <if test="gSpuNo != null">
                #{gSpuNo,jdbcType=VARCHAR},
            </if>
            <if test="gSpuName != null">
                #{gSpuName,jdbcType=VARCHAR},
            </if>
            <if test="gCategorySelf != null">
                #{gCategorySelf,jdbcType=INTEGER},
            </if>
            <if test="gRecommend != null">
                #{gRecommend,jdbcType=VARCHAR},
            </if>
            <if test="gUnit != null">
                #{gUnit,jdbcType=VARCHAR},
            </if>
            <if test="gGroundingFlag != null">
                #{gGroundingFlag,jdbcType=VARCHAR},
            </if>
            <if test="gCreateTime != null">
                #{gCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="gShopId != null">
                #{gShopId,jdbcType=VARCHAR},
            </if>
            <if test="gDeleteFlag != null">
                #{gDeleteFlag,jdbcType=INTEGER},
            </if>
            <if test="gStatus != null">
                #{gStatus,jdbcType=INTEGER},
            </if>
            <if test="gUpdateTime != null">
                #{gUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="gOpinion != null">
                #{gOpinion,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="SpsGoodShop">
        update sps_good_shop
        <set>
            <if test="gCategoryIds != null and gCategoryIds != ''">
                g_category_ids = #{gCategoryIds,jdbcType=VARCHAR},
            </if>
            <if test="gBrandId != null and gBrandId != ''">
                g_brand_id = #{gBrandId,jdbcType=INTEGER},
            </if>
            <if test="gSpuNo != null and gSpuNo != ''">
                g_spu_no = #{gSpuNo,jdbcType=VARCHAR},
            </if>
            <if test="gSpuName != null and gSpuName != ''">
                g_spu_name = #{gSpuName,jdbcType=VARCHAR},
            </if>
            <if test="gCategorySelf != null ">
                g_category_self = #{gCategorySelf,jdbcType=INTEGER},
            </if>
            <if test="gRecommend != null">
                g_recommend = #{gRecommend,jdbcType=VARCHAR},
            </if>
            <if test="gUnit != null">
                g_unit = #{gUnit,jdbcType=VARCHAR},
            </if>
            <if test="gGroundingFlag != null">
                g_grounding_flag = #{gGroundingFlag,jdbcType=VARCHAR},
            </if>
            <if test="gCreateTime != null">
                g_create_time = #{gCreateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="gShopId != null">
                g_shop_id = #{gShopId,jdbcType=VARCHAR},
            </if>
            <if test="gDeleteFlag != null">
                g_delete_flag = #{gDeleteFlag,jdbcType=INTEGER},
            </if>
            <if test="gStatus != null">
                g_status = #{gStatus,jdbcType=INTEGER},
            </if>
            <if test="gUpdateTime != null">
                g_update_time = #{gUpdateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="gOpinion != null">
                g_opinion = #{gOpinion,jdbcType=VARCHAR},
            </if>
            <if test="gForceOpinion != null">
                g_force_opinion = #{gForceOpinion,jdbcType=VARCHAR},
            </if>
            <if test="gSkuIds != null">
                g_sku_ids = #{gSkuIds,jdbcType=VARCHAR},
            </if>
            <if test="gGoodsId != null">
                g_goods_id = #{gGoodsId,jdbcType=INTEGER},
            </if>
            <if test="gSalesNum != null">
                g_sales_num = #{gSalesNum,jdbcType=INTEGER},
            </if>
        </set>
        where g_id = #{gId,jdbcType=INTEGER}
    </update>
    <update id="updateBy" parameterType="SpsGoodShop">
    update sps_good_shop
    set g_category_ids = #{gCategoryIds,jdbcType=VARCHAR},
      g_brand_id = #{gBrandId,jdbcType=INTEGER},
      g_spu_no = #{gSpuNo,jdbcType=VARCHAR},
      g_spu_name = #{gSpuName,jdbcType=VARCHAR},
      g_category_self = #{gCategorySelf,jdbcType=INTEGER},
      g_recommend = #{gRecommend,jdbcType=VARCHAR},
      g_unit = #{gUnit,jdbcType=VARCHAR},
      g_grounding_flag = #{gGroundingFlag,jdbcType=VARCHAR},
      g_create_time = #{gCreateTime,jdbcType=TIMESTAMP},
      g_shop_id = #{gShopId,jdbcType=VARCHAR},
      g_delete_flag = #{gDeleteFlag,jdbcType=INTEGER},
      g_status = #{gStatus,jdbcType=INTEGER},
      g_update_time = #{gUpdateTime,jdbcType=TIMESTAMP}
    where g_id = #{gId,jdbcType=INTEGER}
  </update>


    <!-- 查询所有 -->
    <select id="findListAllWithMap" parameterType="map" resultMap="BaseResultMap">
        SELECT
        g.g_id,
        g.g_category_ids,
        g.g_brand_id,
        g.g_spu_no,
        g.g_spu_name,
        g.g_category_self,
        g.g_recommend,
        g.g_unit,
        g.g_grounding_flag,
        g.g_create_time,
        g.g_shop_id,
        g.g_delete_flag,
        g.g_status,
        g.g_update_time,
        g.g_opinion,
        g.g_force_opinion,
        g.g_sku_ids,
        g.g_goods_id,
        g.g_sales_num,
        b.custom_name AS categoryName,
        (
        SELECT
        min(s.g_price)
        FROM
        sps_good_shop_sku s
        WHERE
        s.g_gid = g.g_id
        ) AS gMinPrice,
        (
        SELECT
        a.album_url
        FROM
        sps_goods_album a
        WHERE
        a.goods_id = g.g_goods_id
        AND a.album_type = 0
        ORDER BY
        a.album_id ASC
        LIMIT 1
        ) AS gPic
        FROM
        sps_good_shop g
        LEFT JOIN sps_custom_category b ON b.custom_id = g.g_category_self
        where 1=1
        <if test="goodsName !=null and goodsName != ''">
            and g.g_spu_name LIKE CONCAT('%',#{goodsName,jdbcType=VARCHAR},'%')
        </if>
        <if test="shopStatus !=null">
            and g.g_grounding_flag = #{shopStatus,jdbcType=INTEGER}
        </if>
        <if test="spuNo !=null">
            and g.g_spu_no LIKE CONCAT('%',#{spuNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="noSignature == 3">
            and g.g_status != 2
        </if>
        <if test="deleteFlag == 2">
            and g.g_grounding_flag=2
        </if>
        <if test="flowStatus !=null">
            and g.g_status = #{flowStatus,jdbcType=INTEGER}
        </if>
        <if test="startTime!=null and startTime != ''">
            and g.g_update_time <![CDATA[>=]]>  #{startTime}
        </if>
        <if test="endTime!=null and endTime != ''">
            and g.g_update_time <![CDATA[<=]]> #{endTime}
        </if>
        <if test="shopNum != null and shopNum!=''">
            and  g.g_shop_id = #{shopNum,jdbcType=VARCHAR}
        </if>
        <if test="recommend != null and recommend!=''">
            and  g.g_recommend = #{recommend,jdbcType=VARCHAR}
        </if>
        <if test="categorySelf != null and categorySelf!=''">
            and  g.g_category_self = #{categorySelf,jdbcType=INTEGER}
        </if>
        and g.g_delete_flag=0
        <if test="orderType==0">
            order by g.g_create_time desc
        </if>
        <if test="orderType== 1">
            and g.g_recommend  =1
            order by g.g_sales_num desc ,  g.g_create_time desc
        </if>
        <if test="orderType== 2">
            order by gMinPrice desc ,  g.g_create_time desc
        </if>
        <if test="orderType== 3">
            order by gMinPrice asc ,  g.g_create_time desc
        </if>
        <if test="orderType== 4">
            order by g.g_sales_num desc ,  g.g_create_time desc
        </if>
    </select>
    <select id="findLastId" parameterType="int" resultMap="BaseResultMap">
    SELECT g_id  from sps_good_shop order by g_id desc  LIMIT 1
  </select>
    <select id="findSkuNoCount" parameterType="string" resultType="int">
    select count(1)
    from sps_good_shop
    where 1=1
    and g_spu_no = #{gSpuNo,jdbcType=VARCHAR}
    AND g_delete_flag = 0
  </select>

    <select id="findById" parameterType="int" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sps_good_shop
        where g_id = #{id,jdbcType=INTEGER}
    </select>
    <select id="getSpuCount" parameterType="map" resultType="int">
    select count(1)
    from sps_good_shop
    where 1=1
    and g_spu_no = #{gSpuNo,jdbcType=VARCHAR}
     and g_spu_name = #{spuName,jdbcType=VARCHAR}
    AND g_delete_flag = 0
  </select>


    <!-- 查询所有 -->
    <select id="findAuditGoodsList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        g.g_id,
        g.g_category_ids,
        g.g_brand_id,
        g.g_spu_no,
        g.g_spu_name,
        g.g_category_self,
        g.g_recommend,
        g.g_unit,
        g.g_grounding_flag,
        g.g_create_time,
        g.g_shop_id,
        g.g_delete_flag,
        g.g_status,
        g.g_update_time,
        g.g_opinion,
        g.g_force_opinion,
        g.g_sku_ids,
        g.g_goods_id,
        g.g_sales_num,
        ce.enterprise_company_name as companyName,
        co.open_admin_num as adminNum,
        cc.custom_name as categoryName
        FROM
        sps_good_shop g
        LEFT JOIN sps_channel_enterprise ce ON g.g_shop_id = ce.channel_num
        LEFT JOIN sps_channel_open_account co ON g.g_shop_id = co.channel_num
        LEFT JOIN sps_custom_category cc on cc.custom_id=g.g_category_self
        WHERE
        1 = 1
        <if test="shopName !=null and shopName != ''">
            and ce.enterprise_company_name LIKE CONCAT('%',#{shopName,jdbcType=VARCHAR},'%')
        </if>
        <if test="shopNumber !=null and shopNumber != ''">
            and co.open_admin_num LIKE CONCAT('%',#{shopNumber,jdbcType=VARCHAR},'%')
        </if>
        <if test="goodsName !=null and goodsName != ''">
            and g.g_spu_name LIKE CONCAT('%',#{goodsName,jdbcType=VARCHAR},'%')
        </if>
        <if test="shopStatus !=null">
            and g.g_status = #{shopStatus,jdbcType=INTEGER}
        </if>
        <if test="startTime!=null and startTime != ''">
            and g.g_update_time <![CDATA[>=]]>  #{startTime}
        </if>
        <if test="endTime!=null and endTime != ''">
            and g.g_update_time <![CDATA[<=]]> #{endTime}
        </if>
        <if test="gShopId != null">
            g.g_shop_id = #{gShopId,jdbcType=VARCHAR},
        </if>
        AND g.g_grounding_flag != 0
        AND g.g_grounding_flag != 2
        AND g.g_status != 0
        AND g.g_delete_flag=0
        ORDER BY
        g.g_create_time DESC
    </select>
    <select id="findForceGoodsList" parameterType="map" resultMap="BaseResultMap">
        SELECT
        g.g_id,
        g.g_category_ids,
        g.g_brand_id,
        g.g_spu_no,
        g.g_spu_name,
        g.g_category_self,
        g.g_recommend,
        g.g_unit,
        g.g_grounding_flag,
        g.g_create_time,
        g.g_shop_id,
        g.g_delete_flag,
        g.g_status,
        g.g_update_time,
        g.g_opinion,
        g.g_force_opinion,
        g.g_sku_ids,
        g.g_goods_id,
        g.g_sales_num,
        ce.enterprise_company_name as companyName,
        co.open_admin_num as adminNum,
        cc.custom_name as categoryName
        FROM
        sps_good_shop g
        LEFT JOIN sps_channel_enterprise ce ON g.g_shop_id = ce.channel_num
        LEFT JOIN sps_channel_open_account co ON g.g_shop_id = co.channel_num
        LEFT JOIN sps_custom_category cc on cc.custom_id=g.g_category_self
        WHERE
        1 = 1
        <if test="shopName !=null and shopName != ''">
            and ce.enterprise_company_name LIKE CONCAT('%',#{shopName,jdbcType=VARCHAR},'%')
        </if>
        <if test="shopNumber !=null and shopNumber != ''">
            and co.open_admin_num LIKE CONCAT('%',#{shopNumber,jdbcType=VARCHAR},'%')
        </if>
        <if test="goodsName !=null and goodsName != ''">
            and g.g_spu_name LIKE CONCAT('%',#{goodsName,jdbcType=VARCHAR},'%')
        </if>
        <if test="shopStatus !=null">
            and g.g_grounding_flag = #{shopStatus,jdbcType=INTEGER}
        </if>
        <if test="startTime!=null and startTime != ''">
            and g.g_update_time <![CDATA[>=]]>  #{startTime}
        </if>
        <if test="endTime!=null and endTime != ''">
            and g.g_update_time <![CDATA[<=]]> #{endTime}
        </if>
        <if test="gShopId != null">
            g.g_shop_id = #{gShopId,jdbcType=VARCHAR},
        </if>
        <if test="spuNo != null  and spuNo != ''">
            and g.g_spu_no LIKE CONCAT('%',#{spuNo,jdbcType=VARCHAR},'%')
        </if>
        <if test="status != null  and status != ''">
            and g.g_status = #{status,jdbcType=INTEGER}
        </if>
        AND g.g_delete_flag=0
        ORDER BY
        g.g_update_time DESC
    </select>
    <update id="updateGoodShopDelete" parameterType="SpsGoodShop">
        update sps_good_shop
        <set>
            <if test="gDeleteFlag != null">
                g_delete_flag = #{gDeleteFlag,jdbcType=INTEGER},
            </if>
            <if test="gGroundingFlag != null">
                g_grounding_flag = #{gGroundingFlag,jdbcType=VARCHAR},
            </if>
            <if test="gUpdateTime != null">
                g_update_time = #{gUpdateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where g_goods_id = #{gGoodsId,jdbcType=INTEGER}
    </update>
</mapper>