<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.shopkeeper.read.SpsShopkeeperRepaymentReadMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.shopkeeper.SpsShopkeeperRepayment" >
    <id column="repayment_id" property="repaymentId" jdbcType="INTEGER" />
    <result column="repayment_bankId" property="repaymentBankid" jdbcType="VARCHAR" />
    <result column="repayment_deposit_bank" property="repaymentDepositBank" jdbcType="VARCHAR" />
    <result column="repayment_phone" property="repaymentPhone" jdbcType="VARCHAR" />
    <result column="shopkeeper_customerId" property="shopkeeperCustomerid" jdbcType="VARCHAR" />
    <result column="repayment_username" property="repaymentUsername" jdbcType="VARCHAR" />
    <result column="repayment_creat_time" property="repaymentCreatTime" jdbcType="TIMESTAMP" />
    <result column="repayment_update_time" property="repaymentUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    repayment_id, repayment_bankId, repayment_deposit_bank, repayment_phone, shopkeeper_customerId, 
    repayment_username, repayment_creat_time, repayment_update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sps.entity.shopkeeper.SpsShopkeeperRepaymentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sps_shopkeeper_repayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sps_shopkeeper_repayment
    where repayment_id = #{repaymentId,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="org.sps.entity.shopkeeper.SpsShopkeeperRepaymentExample" resultType="java.lang.Integer" >
    select count(*) from sps_shopkeeper_repayment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>