<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.shopkeeper.read.SpsShopkeeperPersonalReadMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.shopkeeper.SpsShopkeeperPersonal" >
    <id column="personal_id" property="personalId" jdbcType="INTEGER" />
    <result column="personal_client_name" property="personalClientName" jdbcType="VARCHAR" />
    <result column="personal_sex" property="personalSex" jdbcType="VARCHAR" />
    <result column="personal_idCard" property="personalIdcard" jdbcType="VARCHAR" />
    <result column="personal_idCard_validity_start" property="personalIdcardValidityStart" jdbcType="VARCHAR" />
    <result column="personal_idCard_validity_end" property="personalIdcardValidityEnd" jdbcType="VARCHAR" />
    <result column="personal_licence_issuing_authority" property="personalLicenceIssuingAuthority" jdbcType="VARCHAR" />
    <result column="personal_age" property="personalAge" jdbcType="INTEGER" />
    <result column="personal_marital_status" property="personalMaritalStatus" jdbcType="VARCHAR" />
    <result column="personal_phone" property="personalPhone" jdbcType="VARCHAR" />
    <result column="personal_phone_password" property="personalPhonePassword" jdbcType="VARCHAR" />
    <result column="personal_placeOfDomicile" property="personalPlaceofdomicile" jdbcType="VARCHAR" />
    <result column="personal_living_condition" property="personalLivingCondition" jdbcType="VARCHAR" />
    <result column="personal_living_condition_other" property="personalLivingConditionOther" jdbcType="VARCHAR" />
    <result column="personal_living_address" property="personalLivingAddress" jdbcType="VARCHAR" />
    <result column="personal_none_corp" property="personalNoneCorp" jdbcType="VARCHAR" />
    <result column="personal_nickname" property="personalNickname" jdbcType="VARCHAR" />
    <result column="personal_username" property="personalUsername" jdbcType="VARCHAR" />
    <result column="personal_creat_time" property="personalCreatTime" jdbcType="TIMESTAMP" />
    <result column="personal_update_time" property="personalUpdateTime" jdbcType="TIMESTAMP" />
    <result column="shopkeeper_customerId" property="shopkeeperCustomerid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    personal_id, personal_client_name, personal_sex, personal_idCard, personal_idCard_validity_start, 
    personal_idCard_validity_end, personal_licence_issuing_authority, personal_age, personal_marital_status, 
    personal_phone, personal_phone_password, personal_placeOfDomicile, personal_living_condition, 
    personal_living_condition_other, personal_living_address, personal_none_corp, personal_nickname, 
    personal_username, personal_creat_time, personal_update_time, shopkeeper_customerId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sps.entity.shopkeeper.SpsShopkeeperPersonalExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sps_shopkeeper_personal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sps_shopkeeper_personal
    where personal_id = #{personalId,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="org.sps.entity.shopkeeper.SpsShopkeeperPersonalExample" resultType="java.lang.Integer" >
    select count(*) from sps_shopkeeper_personal
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>