<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.user.SpsRoleMapper" >
  <resultMap id="BaseResultMap" type="com.sps.entity.user.SpsRole" >
    <id column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
    <result column="role_describe" property="roleDescribe" jdbcType="VARCHAR" />
    <result column="role_creater" property="roleCreater" jdbcType="VARCHAR" />
    <result column="role_creatTime" property="roleCreattime" jdbcType="TIMESTAMP" />
    <result column="role_updateTime" property="roleUpdatetime" jdbcType="TIMESTAMP" />
    <result column="role_state" property="roleState" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    role_id, role_name, role_describe, role_creater, role_creatTime, role_updateTime, 
    role_state
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sps.entity.user.SpsRoleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sps_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sps_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sps_role
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.sps.entity.user.SpsRoleExample" >
    delete from sps_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.sps.entity.user.SpsRole" >
    insert into sps_role (role_id, role_name, role_describe, 
      role_creater, role_creatTime, role_updateTime, 
      role_state)
    values (#{roleId,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleDescribe,jdbcType=VARCHAR}, 
      #{roleCreater,jdbcType=VARCHAR}, #{roleCreattime,jdbcType=TIMESTAMP}, #{roleUpdatetime,jdbcType=TIMESTAMP}, 
      #{roleState,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.sps.entity.user.SpsRole" useGeneratedKeys="true" keyProperty="roleId">
    insert into sps_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
      <if test="roleDescribe != null" >
        role_describe,
      </if>
      <if test="roleCreater != null" >
        role_creater,
      </if>
      <if test="roleCreattime != null" >
        role_creatTime,
      </if>
      <if test="roleUpdatetime != null" >
        role_updateTime,
      </if>
      <if test="roleState != null" >
        role_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDescribe != null" >
        #{roleDescribe,jdbcType=VARCHAR},
      </if>
      <if test="roleCreater != null" >
        #{roleCreater,jdbcType=VARCHAR},
      </if>
      <if test="roleCreattime != null" >
        #{roleCreattime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleUpdatetime != null" >
        #{roleUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleState != null" >
        #{roleState,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sps.entity.user.SpsRoleExample" resultType="java.lang.Integer" >
    select count(*) from sps_role
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sps_role
    <set >
      <if test="record.roleId != null" >
        role_id = #{record.roleId,jdbcType=INTEGER},
      </if>
      <if test="record.roleName != null" >
        role_name = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleDescribe != null" >
        role_describe = #{record.roleDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.roleCreater != null" >
        role_creater = #{record.roleCreater,jdbcType=VARCHAR},
      </if>
      <if test="record.roleCreattime != null" >
        role_creatTime = #{record.roleCreattime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.roleUpdatetime != null" >
        role_updateTime = #{record.roleUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.roleState != null" >
        role_state = #{record.roleState,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sps_role
    set role_id = #{record.roleId,jdbcType=INTEGER},
      role_name = #{record.roleName,jdbcType=VARCHAR},
      role_describe = #{record.roleDescribe,jdbcType=VARCHAR},
      role_creater = #{record.roleCreater,jdbcType=VARCHAR},
      role_creatTime = #{record.roleCreattime,jdbcType=TIMESTAMP},
      role_updateTime = #{record.roleUpdatetime,jdbcType=TIMESTAMP},
      role_state = #{record.roleState,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sps.entity.user.SpsRole" >
    update sps_role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleDescribe != null" >
        role_describe = #{roleDescribe,jdbcType=VARCHAR},
      </if>
      <if test="roleCreater != null" >
        role_creater = #{roleCreater,jdbcType=VARCHAR},
      </if>
      <if test="roleCreattime != null" >
        role_creatTime = #{roleCreattime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleUpdatetime != null" >
        role_updateTime = #{roleUpdatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="roleState != null" >
        role_state = #{roleState,jdbcType=INTEGER},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sps.entity.user.SpsRole" >
    update sps_role
    set role_name = #{roleName,jdbcType=VARCHAR},
      role_describe = #{roleDescribe,jdbcType=VARCHAR},
      role_creater = #{roleCreater,jdbcType=VARCHAR},
      role_creatTime = #{roleCreattime,jdbcType=TIMESTAMP},
      role_updateTime = #{roleUpdatetime,jdbcType=TIMESTAMP},
      role_state = #{roleState,jdbcType=INTEGER}
    where role_id = #{roleId,jdbcType=INTEGER}
  </update>
</mapper>