<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.order.OrderRepayDetailMapper" >
  <resultMap id="BaseOrderResultMap" type="org.sps.entity.order.OrderRepayDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="repay_date" property="repayDate" jdbcType="TIMESTAMP" />
    <result column="repay_ben_amount" property="repayBenAmount" jdbcType="DECIMAL" />
    <result column="repay_accrual_amount" property="repayAccrualAmount" jdbcType="DECIMAL" />
    <result column="rapay_poundage" property="rapayPoundage" jdbcType="DECIMAL" />
    <result column="no_repay_ben_amount" property="noRepayBenAmount" jdbcType="DECIMAL" />
    <result column="no_reapay_accrual_amount" property="noReapayAccrualAmount" jdbcType="DECIMAL" />
    <result column="no_repay_poundage" property="noRepayPoundage" jdbcType="DECIMAL" />
      <result column="repay_amount" property="repayAmount" jdbcType="DECIMAL" />
</resultMap>
<select id="selectByOrderNo" parameterType="String" resultMap="BaseOrderResultMap">
    SELECT
       id,
      repay_date,
      repay_ben_amount,
      repay_accrual_amount,
      rapay_poundage,
      no_repay_ben_amount,
      no_reapay_accrual_amount,
      no_repay_poundage,
      repay_amount
      FROM
          sps_order_repay_detail
      WHERE
        order_no=#{orderNo}
</select>


</mapper>