<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.shopkeeper.SpsShopkeeperHousePrppertyDao" >
  <resultMap id="baseHouserInfo" type="com.sps.entity.shopkeeper.SpsShopkeeperHouseProperty">
    <id column="house_id" property="houseId" jdbcType="INTEGER" />
    <result column="house_is_have" property="houseIsHave" jdbcType="INTEGER" />
    <result column="house_area" property="houseArea" jdbcType="DOUBLE" />
    <result column="house_province_name" property="houseProvinceName" jdbcType="VARCHAR" />
    <result column="house_province_code" property="houseProvinceCode" jdbcType="VARCHAR" />
    <result column="house_city_name" property="houseCityName" jdbcType="VARCHAR" />
    <result column="house_city_code" property="houseCityCode" jdbcType="VARCHAR" />
    <result column="house_area_name" property="houseAreaName" jdbcType="INTEGER" />
    <result column="house_area_code" property="houseAreaCode" jdbcType="VARCHAR" />
    <result column="house_addr" property="houseAddr" jdbcType="VARCHAR" />
    <result column="shopkeeper_customerId" property="shopkeeperCustomerid" jdbcType="VARCHAR" />
    <result column="house_username" property="houseUsername" jdbcType="VARCHAR" />
    <result column="house_creat_time" property="houseCreatTime" jdbcType="TIMESTAMP" />
    <result column="house_update_time" property="houseUpdateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="saveHouseInfo" parameterType="com.sps.entity.shopkeeper.SpsShopkeeperHouseProperty">
      INSERT INTO
          sps_shopkeeper_house_property
          (
            house_is_have,
            house_area,
            house_province_name,
            house_province_code,
            house_city_name,
            house_city_code,
            house_area_name,
            house_area_code,
            house_addr,
            shopkeeper_customerId,
            house_username,
            house_creat_time
         )
        VALUES (
           #{houseIsHave,jdbcType=INTEGER},
           #{houseArea,jdbcType=DOUBLE},
           #{houseProvinceName,jdbcType=VARCHAR},
           #{houseProvinceCode,jdbcType=VARCHAR},
           #{houseCityName,jdbcType=VARCHAR},
           #{houseCityCode,jdbcType=VARCHAR},
           #{houseAreaName,jdbcType=VARCHAR},
           #{houseAreaCode,jdbcType=VARCHAR},
           #{houseAddr,jdbcType=VARCHAR},
           #{shopkeeperCustomerid,jdbcType=VARCHAR},
           #{houseUsername,jdbcType=VARCHAR},
           #{houseCreatTime,jdbcType=TIMESTAMP}
          )
  </insert>
  
    <insert id="insertSelective" parameterType="com.sps.entity.shopkeeper.SpsShopkeeperHouseProperty" >
    insert into sps_shopkeeper_house_property
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        house_id,
      </if>
      <if test="houseIsHave != null" >
        house_is_have,
      </if>
      <if test="houseArea != null" >
        house_area,
      </if>
      <if test="houseAddr != null" >
        house_addr,
      </if>
      <if test="shopkeeperCustomerid != null" >
        shopkeeper_customerId,
      </if>
      <if test="houseUsername != null" >
        house_username,
      </if>
      <if test="houseCreatTime != null" >
        house_creat_time,
      </if>
      <if test="houseUpdateTime != null" >
        house_update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="houseId != null" >
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="houseIsHave != null" >
        #{houseIsHave,jdbcType=INTEGER},
      </if>
      <if test="houseArea != null" >
        #{houseArea,jdbcType=DOUBLE},
      </if>
      <if test="houseAddr != null" >
        #{houseAddr,jdbcType=VARCHAR},
      </if>
      <if test="shopkeeperCustomerid != null" >
        #{shopkeeperCustomerid,jdbcType=VARCHAR},
      </if>
      <if test="houseUsername != null" >
        #{houseUsername,jdbcType=VARCHAR},
      </if>
      <if test="houseCreatTime != null" >
        #{houseCreatTime,jdbcType=TIMESTAMP},
      </if>
      <if test="houseUpdateTime != null" >
        #{houseUpdateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="selectByCustomerId" parameterType="String" resultMap="baseHouserInfo">
     SELECT
        house_username
     FROM
            sps_shopkeeper_house_property
      WHERE
           shopkeeper_customerId=#{customerId}
  </select>
</mapper>