<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.shopkeeper.SpsShopkeeperHousePrppertyDao" >
  <insert id="saveHouseInfo" parameterType="com.sps.entity.shopkeeper.SpsShopkeeperHouseProperty">
      INSERT INTO
          sps_shopkeeper_house_property
          (
            house_is_have,
            house_area,
            house_addr,
            shopkeeper_customerId,
            house_username,
            house_creat_time,
            house_update_time
         )
        VALUES (
           #{houseIsHave,jdbcType=INTEGER},
           #{houseArea,jdbcType=DOUBLE},
           #{houseAddr,jdbcType=VARCHAR},
           #{shopkeeperCustomerid,jdbcType=VARCHAR},
           #{houseUsername,jdbcType=VARCHAR},
           #{houseCreatTime,jdbcType=TIMESTAMP},
           #{houseUpdateTime,jdbcType=TIMESTAMP}
          )
  </insert>
</mapper>