<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.read.SpsChannelBankTradeReadMapper" >
	<resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelBankTrade" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bt_trade_name" property="tradeName" jdbcType="VARCHAR" />
    <result column="bt_trade_serial_num" property="tradeSerialNum" jdbcType="VARCHAR" />
    <result column="bt_identity" property="identity" jdbcType="VARCHAR" />
    <result column="bt_application_start_date" property="applicationStartDate" jdbcType="TIMESTAMP" />
    <result column="bt_application_stop_date" property="applicationStopDate" jdbcType="TIMESTAMP" />
    <result column="bt_audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="bt_payment_date" property="paymentDate" jdbcType="TIMESTAMP" />
    <result column="bt_trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="bt_income_type" property="incomeType" jdbcType="VARCHAR" />
    <result column="bt_expenditure_type" property="expenditureType" jdbcType="VARCHAR" />
    <result column="bt_trade_Before_balanc" property="tradeBeforeBalanc" jdbcType="DECIMAL" />
    <result column="bt_trade_after_balanc" property="tradeAfterBalanc" jdbcType="DECIMAL" />
    <result column="bt_trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="bt_trade_status" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="bt_user_id" property="userid" jdbcType="VARCHAR" />
    
    <association property="cahnnelBank" javaType="org.sps.entity.merchant.SpsChannelBank">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="b_name" property="name" jdbcType="VARCHAR" />
		<result column="b_accounts" property="accounts" jdbcType="VARCHAR" />
		<result column="b_identity" property="identity" jdbcType="VARCHAR" />
		<result column="b_phone" property="phone" jdbcType="VARCHAR" />
		<result column="b_bank" property="bank" jdbcType="VARCHAR" />
		<result column="channl_num" property="channlNum" jdbcType="VARCHAR" />
		<result column="b_available_balance" property="availableBalance" jdbcType="DECIMAL" />
    </association>
    
   
  </resultMap>
   <sql id="join_list" >
	b.b_name,
	b.b_accounts,
	b.b_identity,
	b.b_phone,
	b.b_bank,
	b.b_available_balance,
	bt.id,
	bt.bt_trade_name,
	bt.bt_trade_serial_num,
	bt.bt_application_start_date,
	bt.bt_application_stop_date,
	bt.bt_audit_date,
	bt.bt_payment_date,
	bt.bt_trade_type,
	bt.bt_income_type,
	bt.bt_expenditure_type,
	bt.bt_trade_Before_balanc,
	bt.bt_trade_after_balanc,
	bt.bt_trade_amount,
	bt.bt_trade_status
	from
  </sql>
  <select id="selectListBankTrade" resultMap="BaseResultMap">
  	SELECT 
	<include refid="join_list" />
		sps_bank_trade_info bt 
	join 
	sps_bank  b
	on 
	bt.bt_identity = b.b_identity
	<!-- join 
  	sps_channel oc 
	on 
	oc.channel_num = b.channl_num -->
	<!--<where>
		<if test="applicationStartDate != null and applicationStartDate != '' " >
			bt.bt_application_start_date like CONCAT('%','${applicationStartDate}','%' )
		</if>
		<if test="paymentDate != null and paymentDate != '' " >
			and bt.bt_payment_date like CONCAT('%','${paymentDate}','%' )
		</if>
		<if test="tradeStatus != null and tradeStatus != '' " >
			and bt.bt_trade_status = #{tradeStatus}
		</if>
		 and b.channl_num=#{channelNum}
	</where>-->
	<where>
		b.channl_num=#{channelNum,jdbcType=VARCHAR}
		<if test="applicationStartDate != null and applicationStartDate != '' " >
			and bt.bt_application_start_date  <![CDATA[ >= ]]>    #{applicationStartDate,jdbcType=VARCHAR}
		</if>
		<if test="applicationStartDate != null and applicationStartDate != '' " >
			and bt.bt_application_start_date  <![CDATA[ <= ]]>    #{paymentDate,jdbcType=VARCHAR}
		</if>

		<if test="tradeStatus != null and tradeStatus != '' " >
			and bt.bt_trade_status = #{tradeStatus}
		</if>

	</where>
  </select>
	<select id="selectBankTradeByUsername" parameterType="String" resultMap="BaseResultMap">
		SELECT
		<include refid="join_list" />
		sps_bank_trade_info bt
		join
			sps_bank  b
		on
			bt.bt_identity = b.b_identity
		where
			b.channl_num=#{channelNum} 
			and bt.bt_trade_serial_num=#{tradeSerialNum}
	</select>
</mapper>