<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.read.SpsChannelGuaranteeReadMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelGuarantee" >
    <id column="guarantee_id" property="guaranteeId" jdbcType="INTEGER" />
    <result column="guarantee_situation" property="guaranteeSituation" jdbcType="VARCHAR" />
    <result column="guarantee_deposit" property="guaranteeDeposit" jdbcType="DECIMAL" />
    <result column="guarantee_corp_phone" property="guaranteeCorpPhone" jdbcType="VARCHAR" />
    <result column="guarantee_finance_contactName" property="guaranteeFinanceContactname" jdbcType="VARCHAR" />
    <result column="guarantee_finance_contactPhone" property="guaranteeFinanceContactphone" jdbcType="VARCHAR" />
    <result column="guarantee_business_LeaderName" property="guaranteeBusinessLeadername" jdbcType="VARCHAR" />
    <result column="guarantee_business_LeaderPhone" property="guaranteeBusinessLeaderphone" jdbcType="VARCHAR" />
    <result column="guarantee_business_phone_password" property="guaranteeBusinessPhonePassword" jdbcType="VARCHAR" />
    <result column="channel_num" property="channelNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    guarantee_id, guarantee_situation, guarantee_deposit, guarantee_corp_phone, guarantee_finance_contactName, 
    guarantee_finance_contactPhone, guarantee_business_LeaderName, guarantee_business_LeaderPhone, 
    guarantee_business_phone_password, channel_num
  </sql>
   <select id="countByExample" parameterType="org.sps.entity.merchant.SpsChannelGuaranteeExample" resultType="java.lang.Integer" >
    select count(*) from sps_channel_guarantee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sps.entity.merchant.SpsChannelGuaranteeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sps_channel_guarantee
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sps_channel_guarantee
    where guarantee_id = #{guaranteeId,jdbcType=INTEGER}
  </select>
</mapper>