<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.read.SpsChannelStatisticsReadMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelStatistics" >
    <id column="statistics_id" property="statisticsId" jdbcType="INTEGER" />
    <result column="statistics_pass_order_num" property="statisticsPassOrderNum" jdbcType="INTEGER" />
    <result column="statistics_pass_order_amount" property="statisticsPassOrderAmount" jdbcType="DECIMAL" />
    <result column="statistics_sku_num" property="statisticsSkuNum" jdbcType="INTEGER" />
    <result column="statistics_sku_price" property="statisticsSkuPrice" jdbcType="DECIMAL" />
    <result column="statistics_collaborate_shopkeeper_num" property="statisticsCollaborateShopkeeperNum" jdbcType="INTEGER" />
    <result column="statistics_deal_shopkeeper_num" property="statisticsDealShopkeeperNum" jdbcType="INTEGER" />
    <result column="statistics_shopkeeper_avg_money" property="statisticsShopkeeperAvgMoney" jdbcType="DECIMAL" />
    <result column="statistics_shopkeeper_avg_num" property="statisticsShopkeeperAvgNum" jdbcType="INTEGER" />
    <result column="statistics_sku_sales_rank" property="statisticsSkuSalesRank" jdbcType="VARCHAR" />
    <result column="statistics_sku_price_ market_difference" property="statisticsSkuPriceMarketDifference" jdbcType="VARCHAR" />
    <result column="channel_num" property="channelNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    statistics_id, statistics_pass_order_num, statistics_pass_order_amount, statistics_sku_num, 
    statistics_sku_price, statistics_collaborate_shopkeeper_num, statistics_deal_shopkeeper_num, 
    statistics_shopkeeper_avg_money, statistics_shopkeeper_avg_num, statistics_sku_sales_rank, 
    "statistics_sku_price_ market_difference", channel_num
  </sql>
    <select id="countByExample" parameterType="org.sps.entity.merchant.SpsChannelExample" resultType="java.lang.Integer" >
    select count(*) from sps_channel
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sps.entity.merchant.SpsChannelStatisticsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sps_channel_statistics
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sps_channel_statistics
    where statistics_id = #{statisticsId,jdbcType=INTEGER}
  </select>
</mapper>