<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.read.SpsChannelEnterpriseReadMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelEnterprise" >
    <id column="enterprise_id" property="enterpriseId" jdbcType="INTEGER" />
    <result column="enterprise_businesslicense_no" property="enterpriseBusinesslicenseNo" jdbcType="VARCHAR" />
    <result column="enterprise_company_name" property="enterpriseCompanyName" jdbcType="VARCHAR" />
    <result column="enterprise_company_abbreviation" jdbcType="VARCHAR" property="enterpriseCompanyAbbreviation" />
    <result column="enterprise_company_register_addr" property="enterpriseCompanyRegisterAddr" jdbcType="VARCHAR" />
    <result column="enterprise_company_realit_addr" property="enterpriseCompanyRealitAddr" jdbcType="VARCHAR" />
    <result column="enterprise_corp" property="enterpriseCorp" jdbcType="VARCHAR" />
    <result column="enterprise_corp_idCard" property="enterpriseCorpIdcard" jdbcType="VARCHAR" />
    <result column="enterprise_operatio_time" property="enterpriseOperatioTime" jdbcType="INTEGER" />
    <result column="enterprise_employee_num" property="enterpriseEmployeeNum" jdbcType="INTEGER" />
    <result column="channel_num" property="channelNum" jdbcType="VARCHAR" />
    <association property="channel" javaType="org.sps.entity.merchant.SpsChannel">
    	<id column="channel_id" property="channelId" jdbcType="INTEGER" />
    	<result column="channel_num" property="channelNum" jdbcType="VARCHAR" />
    	<result column="channel_state" property="channelState" jdbcType="INTEGER" />
    	<result column="channel_flow_state" property="channelFlowState" jdbcType="INTEGER" />
    </association>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    enterprise_id, enterprise_businesslicense_no, enterprise_company_name, enterprise_company_abbreviation,enterprise_company_register_addr, 
    enterprise_company_realit_addr, enterprise_corp, enterprise_corp_idCard, enterprise_operatio_time, 
    enterprise_employee_num, channel_num
  </sql>
  <sql id="ChannelAndEnterprise" >
    e1.enterprise_id, e1.enterprise_businesslicense_no, e1.enterprise_company_name, e1.enterprise_company_abbreviation,e1.enterprise_company_register_addr, 
    e1.enterprise_company_realit_addr, e1.enterprise_corp, e1.enterprise_corp_idCard, e1.enterprise_operatio_time, 
    e1.enterprise_employee_num, c1.channel_num, c1.channel_state, c1.channel_flow_state
  </sql>
  <select id="countByExample" parameterType="org.sps.entity.merchant.SpsChannelEnterpriseExample" resultType="java.lang.Integer" >
    select count(*) from sps_channel_enterprise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sps.entity.merchant.SpsChannelEnterpriseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sps_channel_enterprise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sps_channel_enterprise
    where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
  </select>
  <select id="selectChannel" resultMap="BaseResultMap" >
    select 
    <include refid="ChannelAndEnterprise" />
    from 
    sps_channel c1 
    join 
    sps_channel_enterprise e1 
    on 
    c1.channel_num = e1.channel_num
	<where> 
		 <if test="channelState != null">
		    c1.channel_state = #{channelState}
		 </if> 
		 <if test="channelFlowState != null">
		    AND c1.channel_flow_state = #{channelFlowState}
		 </if> 
		 <if test="channelNum != null">
		    AND c1.channel_num like #{channelNum}
		 </if> 
	 </where>
  </select>
  
</mapper>