<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.read.SpsChannelBankTradeReadMapper" >
	<resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelBankTrade" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="bt_trade_name" property="tradeName" jdbcType="VARCHAR" />
    <result column="bt_trade_serial_num" property="tradeSerialNum" jdbcType="VARCHAR" />
    <result column="bt_identity" property="identity" jdbcType="VARCHAR" />
    <result column="bt_application_start_date" property="applicationStartDate" jdbcType="TIMESTAMP" />
    <result column="bt_application_stop_date" property="applicationStopDate" jdbcType="TIMESTAMP" />
    <result column="bt_audit_date" property="auditDate" jdbcType="TIMESTAMP" />
    <result column="bt_payment_date" property="paymentDate" jdbcType="TIMESTAMP" />
    <result column="bt_trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="bt_income_type" property="incomeType" jdbcType="VARCHAR" />
    <result column="bt_expenditure_type" property="expenditureType" jdbcType="VARCHAR" />
    <result column="bt_trade_Before_balanc" property="tradeBeforeBalanc" jdbcType="DECIMAL" />
    <result column="bt_trade_after_balanc" property="tradeAfterBalanc" jdbcType="DECIMAL" />
    <result column="bt_trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="bt_trade_status" property="tradeStatus" jdbcType="VARCHAR" />
    <result column="bt_user_id" property="userId" jdbcType="VARCHAR" />
	<result column="standby1" property="standby1" jdbcType="VARCHAR" />
	<result column="standby2" property="standby2" jdbcType="VARCHAR" />
	<result column="bt_trade_no" property="tradeNo" jdbcType="VARCHAR" />
	<result column="orderid" property="orderId" jdbcType="VARCHAR" />
	<association property="cahnnelBank" javaType="org.sps.entity.merchant.SpsChannelBank">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="b_name" property="name" jdbcType="VARCHAR" />
		<result column="b_accounts" property="accounts" jdbcType="VARCHAR" />
		<result column="b_identity" property="identity" jdbcType="VARCHAR" />
		<result column="b_phone" property="phone" jdbcType="VARCHAR" />
		<result column="b_bank" property="bank" jdbcType="VARCHAR" />
		<result column="channl_num" property="channlNum" jdbcType="VARCHAR" />
		<result column="b_available_balance" property="availableBalance" jdbcType="DECIMAL" />
		<result column="b_user_id" property="userId" jdbcType="VARCHAR" />
	</association>
  </resultMap>

<resultMap id="cashAuditBashInfo" type="org.sps.entity.merchant.SpsChannelBankTrade" >
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="bt_trade_name" property="tradeName" jdbcType="VARCHAR" />
		<result column="bt_trade_serial_num" property="tradeSerialNum" jdbcType="VARCHAR" />
		<result column="bt_identity" property="identity" jdbcType="VARCHAR" />
		<result column="bt_application_start_date" property="applicationStartDate" jdbcType="TIMESTAMP" />
		<result column="bt_application_stop_date" property="applicationStopDate" jdbcType="TIMESTAMP" />
		<result column="bt_audit_date" property="auditDate" jdbcType="TIMESTAMP" />
		<result column="bt_payment_date" property="paymentDate" jdbcType="TIMESTAMP" />
		<result column="bt_trade_type" property="tradeType" jdbcType="VARCHAR" />
		<result column="bt_income_type" property="incomeType" jdbcType="VARCHAR" />
		<result column="bt_expenditure_type" property="expenditureType" jdbcType="VARCHAR" />
		<result column="bt_trade_Before_balanc" property="tradeBeforeBalanc" jdbcType="DECIMAL" />
		<result column="bt_trade_after_balanc" property="tradeAfterBalanc" jdbcType="DECIMAL" />
		<result column="bt_trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
		<result column="bt_trade_status" property="tradeStatus" jdbcType="VARCHAR" />
		<result column="bt_user_id" property="userId" jdbcType="VARCHAR" />
		<result column="standby1" property="standby1" jdbcType="VARCHAR" />
		<result column="standby2" property="standby2" jdbcType="VARCHAR" />
		<result column="bt_trade_no" property="tradeNo" jdbcType="VARCHAR" />
		<result column="orderid" property="orderId" jdbcType="VARCHAR" />
	<association property="cahnnelBank" javaType="org.sps.entity.merchant.SpsChannelBank">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="channl_num" property="channlNum" jdbcType="VARCHAR" />
		<result column="b_accounts" property="accounts" jdbcType="VARCHAR" />
		<result column="b_user_name" property="userName" jdbcType="VARCHAR" />
		<result column="b_user_id" property="userId" jdbcType="VARCHAR" />
	</association>
	<association property="enterprise" javaType="org.sps.entity.merchant.SpsChannelEnterprise">
		<id column="enterprise_id" property="enterpriseId" jdbcType="INTEGER" />
		<result column="enterprise_company_name" property="enterpriseCompanyName" jdbcType="VARCHAR" />
	</association>
</resultMap>
	<sql id="join_list" >
	b.b_name,
	b.b_accounts,
	b.b_identity,
	b.b_phone,
	b.b_bank,
	b.b_available_balance,
	bt.id,
	bt.bt_trade_name,
	bt.bt_trade_serial_num,
	bt.bt_application_start_date,
	bt.bt_application_stop_date,
	bt.bt_audit_date,
	bt.bt_payment_date,
	bt.bt_trade_type,
	bt.bt_income_type,
	bt.bt_expenditure_type,
	bt.bt_trade_Before_balanc,
	bt.bt_trade_after_balanc,
	bt.bt_trade_amount,
	bt.bt_trade_status,
	bt.orderid,
	bt.bt_trade_no,
	bt.orderid
	from
  </sql>
	<sql id="join_listAudit" >
		e.enterprise_company_name,
		b.channl_num,
		b.b_accounts,
		b.b_name,
		b.b_identity,
		b.b_phone,
		b.b_bank,
		b.b_available_balance,
		b.b_user_name,
		bt.id,
		bt.bt_trade_serial_num,
		bt.bt_application_start_date,
		bt.bt_application_stop_date,
		bt.bt_audit_date,
		bt.bt_payment_date,
		bt.bt_trade_type,
		bt.bt_income_type,
		bt.bt_expenditure_type,
		bt.bt_trade_Before_balanc,
		bt.bt_trade_after_balanc,
		bt.bt_trade_amount,
		bt.bt_trade_status,
		bt.standby1,
		bt.standby2,
		bt.bt_trade_no,
		bt.orderid
		from
	</sql>


  <select id="selectListBankTrade" resultMap="BaseResultMap">
  	SELECT
	<include refid="join_list" />
		sps_bank_trade_info bt 
	join 
	sps_bank  b
	on 
	bt.bt_user_id = b.b_user_id
	<where>
		bt.bt_trade_type = #{tradeType,jdbcType=VARCHAR}
		and  b.channl_num=#{channelNum,jdbcType=VARCHAR}
		<if test="applicationStartDate != null and applicationStartDate != '' " >
			and bt.bt_application_start_date  <![CDATA[ >= ]]>    #{applicationStartDate,jdbcType=VARCHAR}
		</if>
		<if test="paymentDate != null and paymentDate != '' " >
			and bt.bt_application_start_date  <![CDATA[ <= ]]>    #{paymentDate,jdbcType=VARCHAR}
		</if>

		<if test="tradeStatus != null and tradeStatus != '' " >
			and bt.bt_trade_status = #{tradeStatus}
		</if>
	</where>
	  ORDER  BY  bt.bt_application_start_date  desc
  </select>
	<select id="selectBankTradeByUsername" parameterType="String" resultMap="BaseResultMap">
		SELECT
		<include refid="join_list" />
		sps_bank_trade_info bt
		join
			sps_bank  b
		on
			bt.bt_user_id = b.b_user_id
		<where>
			<if test="tradeSerialNum != null and tradeSerialNum != '' " >
				 bt.bt_trade_serial_num=#{tradeSerialNum}
			</if>
			<if test="channelNum != null and channelNum != '' " >
				and  b.channl_num=#{channelNum}
			</if>

		</where>

	</select>

    <select id="selectListCashAuditByUserName" parameterType="String"  resultMap="cashAuditBashInfo">
        SELECT
          	bt.id,
           bt.bt_application_start_date,
           bt.bt_trade_amount
        FROM
        sps_bank_trade_info bt
        join
        sps_bank  b
        on
        bt.bt_user_id= b.b_user_id
        JOIN
        sps_channel_enterprise e
        ON
        e.channel_num=b.channl_num
        where
          b.b_user_name = #{loginName,jdbcType=VARCHAR}
         AND
          bt.bt_trade_status='2'
        ORDER  BY   bt.bt_application_start_date  desc
    </select>
	<select id="selectListCashAudit"  resultMap="cashAuditBashInfo">
		SELECT
		<include refid="join_listAudit" />
		sps_bank_trade_info bt
		join
		sps_bank  b
		on
		bt.bt_user_id= b.b_user_id
		JOIN
		sps_channel_enterprise e
		ON
		e.channel_num=b.channl_num
		<where>
				bt.bt_trade_type="0"
			<if test="applicationStartDate != null and applicationStartDate != '' " >
				and bt.bt_application_start_date   <![CDATA[ >= ]]>    #{applicationStartDate,jdbcType=VARCHAR}
			</if>
			<if test="paymentDate != null and paymentDate != '' " >
				and bt.bt_application_start_date  <![CDATA[ <= ]]>    #{paymentDate,jdbcType=VARCHAR}
			</if>

			<if test="tradeStatus != null and tradeStatus != '' " >
				and bt.bt_trade_status = #{tradeStatus,jdbcType=VARCHAR}
			</if>
			<if test="loginName != null and loginName != '' " >
				and b.b_user_name  like CONCAT('%',#{loginName,jdbcType=VARCHAR},'%')
			</if>
			<if test="enterpriseCompanyName != null and enterpriseCompanyName != '' " >
				and e.enterprise_company_name  like CONCAT('%',#{enterpriseCompanyName,jdbcType=VARCHAR},'%')
			</if>
		</where>
		ORDER  BY   bt.bt_application_start_date  desc
	</select>
	<select id="selectIncomePaymentList"  resultMap="cashAuditBashInfo">
		SELECT
		<include refid="join_listAudit" />
		sps_bank_trade_info bt
		join
		sps_bank  b
		on
		bt.bt_user_id= b.b_user_id
		JOIN
		sps_channel_enterprise e
		ON
		e.channel_num=b.channl_num
		<where>
			<if test="startTime != null and startTime != '' " >
				and bt.bt_payment_date  <![CDATA[ >= ]]>    #{startTime,jdbcType=VARCHAR}
			</if>
			<if test="endTime != null and endTime != '' " >
				and bt.bt_payment_date  <![CDATA[ <= ]]>    #{endTime,jdbcType=VARCHAR}
			</if>

			<if test="minAmount != null and minAmount != '' " >
				and bt.bt_trade_amount  <![CDATA[ >= ]]>  #{minAmount,jdbcType=VARCHAR}
			</if>
			<if test="maxAmount != null and maxAmount != '' " >
				and bt.bt_trade_amount <![CDATA[ <= ]]>  #{maxAmount,jdbcType=VARCHAR}
			</if>
			<if test="payType != null and payType != '' " >
				and bt.bt_trade_type = #{payType,jdbcType=VARCHAR}
			</if>
			<if test="companyName != null and companyName != '' " >
				and e.enterprise_company_name  like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
			</if>
			<if test="reamrk != null and reamrk != '' " >
				and bt.standby1 like CONCAT('%',#{reamrk,jdbcType=VARCHAR},'%')
			</if>
		</where>
		ORDER  BY   bt.bt_payment_date  desc
	</select>
	<select id="selectBankTradeTypeList"  resultMap="cashAuditBashInfo">
		SELECT
		<include refid="join_listAudit" />
		sps_bank_trade_info bt
		join
		sps_bank  b
		on
		bt.bt_user_id= b.b_user_id
		JOIN
		sps_channel_enterprise e
		ON
		e.channel_num=b.channl_num
		<where>
			bt.bt_trade_type = #{payType,jdbcType=VARCHAR}
			<if test="startTime != null and startTime != '' " >
				and bt.bt_audit_date  <![CDATA[ >= ]]>    #{startTime,jdbcType=VARCHAR}
			</if>
			<if test="endTime != null and endTime != '' " >
				and bt.bt_audit_date  <![CDATA[ <= ]]>    #{endTime,jdbcType=VARCHAR}
			</if>

			<if test="minAmount != null and minAmount != '' " >
				and bt.bt_trade_amount  <![CDATA[ >= ]]>  #{minAmount,jdbcType=VARCHAR}
			</if>
			<if test="maxAmount != null and maxAmount != '' " >
				and bt.bt_trade_amount <![CDATA[ <= ]]>  #{maxAmount,jdbcType=VARCHAR}
			</if>
			<if test="companyName != null and companyName != '' " >
				and e.enterprise_company_name like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
			</if>
			<if test="reamrk != null and reamrk != '' " >
				and bt.standby1 like CONCAT('%',#{reamrk,jdbcType=VARCHAR},'%')
			</if>
		</where>
		ORDER  BY   bt.bt_payment_date  desc
	</select>

	<select id="selectMoneyAmount" parameterType="String" resultType="BigDecimal">
		SELECT
		    sum(bt_trade_amount)  as tradeAmount
		from
			sps_bank_trade_info
		where
			bt_trade_status="2"
		AND
			bt_application_start_date
		   between (SELECT DATE_ADD(now(),INTERVAL -1 MONTH )) and now();

	</select>
	<select id="selectTotalAmount" parameterType="String" resultType="BigDecimal">
		SELECT
			sum(bt_trade_amount)  as tradeAmount
		from
			sps_bank_trade_info
		where
			bt_trade_status="2"

	</select>

	<select id="selectBankTradeInfo" parameterType="int"  resultMap="cashAuditBashInfo">
		SELECT
		<include refid="join_listAudit" />
        sps_bank_trade_info bt
        join
        sps_bank  b
        on
        bt.bt_user_id= b.b_user_id
        JOIN
        sps_channel_enterprise e
        ON
        e.channel_num=b.channl_num
        where
		bt.id=#{id}
	</select>
	<select id="selectOrderByTradeSeriNum" parameterType="String" resultType="String">
		 SELECT id,  orderid
		 FROM
		    sps_bank_trade_info
		  WHERE
			  bt_trade_no=#{tradeSeriNum}
	</select>

	<select id="selectBankTradeTypeListByLoginName"  resultMap="cashAuditBashInfo">
		SELECT
		<include refid="join_listAudit" />
		sps_bank_trade_info bt
		join
		sps_bank  b
		on
		bt.bt_user_id= b.b_user_id
		JOIN
		sps_channel_enterprise e
		ON
		e.channel_num=b.channl_num
		<where>
			  b.channl_num=#{channelNum,jdbcType=VARCHAR}
			<if test="startTime != null and startTime != '' " >
				and bt.bt_audit_date  <![CDATA[ >= ]]>    #{startTime,jdbcType=VARCHAR}
			</if>
			<if test="endTime != null and endTime != '' " >
				and bt.bt_audit_date  <![CDATA[ <= ]]>    #{endTime,jdbcType=VARCHAR}
			</if>
			<if test="payType != null and payType != '' " >
				and bt.bt_trade_type = #{payType,jdbcType=VARCHAR}
			</if>

			<if test="minAmount != null and minAmount != '' " >
				and bt.bt_trade_amount  <![CDATA[ >= ]]>  #{minAmount,jdbcType=VARCHAR}
			</if>
			<if test="maxAmount != null and maxAmount != '' " >
				and bt.bt_trade_amount <![CDATA[ <= ]]>  #{maxAmount,jdbcType=VARCHAR}
			</if>
			<if test="companyName != null and companyName != '' " >
				and e.enterprise_company_name like CONCAT('%',#{companyName,jdbcType=VARCHAR},'%')
			</if>
			<if test="reamrk != null and reamrk != '' " >
				and bt.standby1 like CONCAT('%',#{reamrk,jdbcType=VARCHAR},'%')
			</if>
		</where>
		ORDER  BY   bt.bt_payment_date  desc
	</select>

</mapper>