<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.read.SpsChannelOpenAccountReadMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelOpenAccount" >
    <id column="open_id" property="openId" jdbcType="INTEGER" />
    <result column="open_admin_num" property="openAdminNum" jdbcType="VARCHAR" />
    <result column="open_start_time" property="openStartTime" jdbcType="TIMESTAMP" />
    <result column="open_end_time" property="openEndTime" jdbcType="TIMESTAMP" />
    <result column="open_apply_product" property="openApplyProduct" jdbcType="VARCHAR" />
    <result column="open_sell_rate" property="openSellRate" jdbcType="INTEGER" />
    <result column="channel_num" property="channelNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    open_id, open_admin_num, open_start_time, open_end_time, open_apply_product, open_sell_rate, 
    channel_num
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sps.entity.merchant.SpsChannelOpenAccountExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sps_channel_open_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sps_channel_open_account
    where open_id = #{openId,jdbcType=INTEGER}
  </select>
  <select id="countByExample" parameterType="org.sps.entity.merchant.SpsChannelOpenAccountExample" resultType="java.lang.Integer" >
    select count(*) from sps_channel_open_account
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
</mapper>