<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sps.dao.merchant.read.SpsChannelEnterpriseReadMapper" >
  <resultMap id="BaseResultMap" type="org.sps.entity.merchant.SpsChannelEnterprise" >
    <id column="enterprise_id" property="enterpriseId" jdbcType="INTEGER" />
    <result column="enterprise_businesslicense_no" property="enterpriseBusinesslicenseNo" jdbcType="VARCHAR" />
    <result column="enterprise_company_name" property="enterpriseCompanyName" jdbcType="VARCHAR" />
    <result column="enterprise_company_register_addr" property="enterpriseCompanyRegisterAddr" jdbcType="VARCHAR" />
    <result column="enterprise_company_realit_addr" property="enterpriseCompanyRealitAddr" jdbcType="VARCHAR" />
    <result column="enterprise_corp" property="enterpriseCorp" jdbcType="VARCHAR" />
    <result column="enterprise_operatio_time" property="enterpriseOperatioTime" jdbcType="INTEGER" />
    <result column="enterprise_employee_num" property="enterpriseEmployeeNum" jdbcType="INTEGER" />
    <result column="channel_num" property="channelNum" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    enterprise_id, enterprise_businesslicense_no, enterprise_company_name, enterprise_company_register_addr, 
    enterprise_company_realit_addr, enterprise_corp, enterprise_operatio_time, enterprise_employee_num, 
    channel_num
  </sql>
  <select id="countByExample" parameterType="org.sps.entity.merchant.SpsChannelEnterpriseExample" resultType="java.lang.Integer" >
    select count(*) from sps_channel_enterprise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="org.sps.entity.merchant.SpsChannelEnterpriseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sps_channel_enterprise
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sps_channel_enterprise
    where enterprise_id = #{enterpriseId,jdbcType=INTEGER}
  </select>
</mapper>