<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- 使用jdbc的 -->
		<setting name="logPrefix" value="dao." />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="useColumnLabel" value="true" />
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="callSettersOnNulls" value="true" />
		<!-- 张磊添加 -->
		<!-- 全局映射器启用缓存 -->
		<setting name="cacheEnabled" value="false" />
		<!-- 对于未知的SQL查询，允许返回不同的结果集以达到通用的效果 -->
		<setting name="multipleResultSetsEnabled" value="true" />
		<!-- 数据库超过25000秒仍未响应则超时 -->
		<setting name="defaultStatementTimeout" value="25000" />
	</settings>
<!--	<typeAliases>
		<typeAlias alias="SpsGoods" type="com.sps.entity.goods.SpsGoods" />
	</typeAliases>

	<mappers>
		<mapper resource="mapper/SpsGoodsMapper.xml" />
	</mappers>-->

</configuration>